{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav>
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">

      <form class="login-form" action="http://localhost:8080" method="post">
        <h1>Temporary login</h1>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>

        <div>
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="password" minlength="8" required>
        </div>
        <input type="submit" value="Sign in">
      </form>

		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
